@font-face {
    font-family: 'TepenoSansRegular';
    src: url('TepenoSansRegular.ttf') format('woff'),
         url('TepenoSansRegular.ttf')  format('truetype')
}

@font-face {
    font-family: 'TepenoSansBold';
    src: url('TepenoSansBold.ttf') format('woff'),
         url('TepenoSansBold.ttf')  format('truetype')
}

html {
    min-height: 100%;
    font-family: SquareMonogramFrames;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

body {
    background: url(../img/back.jpg);
    position: relative;
    margin: 0;
    height: 100%;
    background-position: top;
}

.content {
    padding: 40px;
    position: absolute;
    background-color: rgba(44,44,44,0.6);
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    top: 40px;
    right: 40px;
}

.menu > ul {
    position: relative;
    list-style-type: none;
    margin: 0;
}

.menu > ul > li:nth-child(1) {
    margin: 0 0 10px 0;
}


.menu > ul > li {
    font-family: TepenoSansRegular;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.menu > ul > li:hover {
    color: #2c2c2c !important;
    font-family: TepenoSansBold !important;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.active {
    color: #2c2c2c !important;
    font-family: TepenoSansBold !important;
}

.container {
    position: relative;
    width: 70%;
    z-index: 1;
}

.tittle {
    font-family: TepenoSansBold;
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
    margin: 0;
}

.sub-tittle {
    font-family: TepenoSansBold;
    text-transform: uppercase;
    color: #bbbbbb;
    font-size: 60px;
    margin: 0;
}

.desc{
    font-family: TepenoSansBold;
    text-transform: uppercase;
    color: #bbbbbb;
    font-size: 40px;
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 40px;
    right: 40px;
    left: 40px;
    display: inline-flex;
    align-items: flex-end;
}

.social {
    display: inline-flex;
    position: absolute;
    right: 0;
}

.social > a {
    color: #fff;
    font-family: TepenoSansBold;
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.social > a:hover {
    color: #2c2c2c;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.resume {
    background-color: #fff;
    border: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    outline: none;
    font-family: TepenoSansBold;
    font-size: 22px;
    cursor: pointer;
    color: #2c2c2c;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.resume:hover {
    background-color: #2c2c2c;
    color: #fff;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.projects {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 240px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.project {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

img {
    float: left;
}

.p-tittle {
    font-family: TepenoSansBold;
    font-size: 22px;
    color: #2c2c2c;
    margin: 0;
    text-align: center;
}

.p-desc {
    font-family: TepenoSansRegular;
    font-size: 22px;
    color: #2c2c2c;
    margin: 0;
    text-align: center;
    margin-top: 5px;
}

.btns {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.btns > a {
    display: contents;
    text-decoration: none;
}

.view_demo {
    background-color: #2c2c2c;
    color: #fff;
    font-family: TepenoSansRegular;
    font-size: 18px;
    border: 0px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.view_rep {
    background-color: #2c2c2c;
    color: #fff;
    font-family: TepenoSansRegular;
    font-size: 18px;
    border: 0px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 1200px) {
    .desc {
        font-size: 32px;
    }
    .second {
        font-size: 72px;
    }
}

@media only screen and (max-width: 700px) {
    .desc {
        font-size: 24px;
    }
    .second {
        font-size: 64px;
    }
}